.container{
    width: fit-content;
}

header{
    position: sticky;
    top: 0;
}
.alert {
    background-color: #6eccaf;
    color: #344d67;
}

.seccion-filtros{
    color:#6eccaf
}

h2, p {
    color: #344d67;
}

.btn{
    color: #6eccaf;
    background-color: #344d67;
}
.filtros-area{
    justify-content: start;
    
}

@media (max-width:800px) {
    .seccion-filtros{
        align-items: center;
        flex-direction: column;
    }
    .filtros-area {
        background-color: #344d67;
        border-radius: 8px;
        justify-content: space-around;
        padding: 15px;
        width: 90%;    
    }
}