header{
    padding: 20px;
  
}
.bg-blue {
    background-color: #344d67;
}
h1{
    padding: 40px 80px!important;
}
.navbar-brand{
    color: #6eccaf;
}
.navbar-toggler {
    border: none;
}
.btn-burger{
    color: #6eccaf!important;
}