
.color-fondo {
    background-color: #344d67;
    padding: 20px;
}
h1{
    padding: 40px 80px!important;
}
.navbar-brand{
    color: #6eccaf;
}
.navbar-toggler {
    border: none;
}
.btn-burger{
    color: #6eccaf!important;
}

.btn-active:hover {
    background-color: #6eccaf!important; 
    color:  #344d67!important;
}
.boton:hover {
    background-color: #6eccaf!important; 
    color:  #344d67!important;
}
